<h1>Fill in the dimentions, weight and distance to travel for your parcel to find out home much shipping will cost</h1>
<form action='/shipping_costs'>
  <div class="form-group">
    <label for="length">Length</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="distance">Distance</label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Get Cost</button>
</form>
